In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
        .master("local[*]") \
        .appName("test") \
        .getOrCreate()

23/03/07 10:55:19 WARN Utils: Your hostname, warcry98 resolves to a loopback address: 127.0.1.1; using 192.168.100.64 instead (on interface wlp3s0)
23/03/07 10:55:19 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/07 10:55:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.parquet('Data/fhvhv/2021/06/')

In [4]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [5]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02875|2021-06-16 17:30:56|2021-06-16 18:08:31|         141|          68|      N|                B02875|
|              B02871|2021-06-25 03:46:52|2021-06-25 04:09:45|          68|          68|      N|                B02871|
|              B02510|2021-06-01 08:50:09|2021-06-01 09:17:40|         216|         134|      N|                  null|
|              B02884|2021-06-15 19:05:01|2021-06-15 19:29:42|         163|         114|      N|                B02884|
|              B02765|2021-06-17 11:53:53|2021-06-17 12:11:28|          77|         155|      N|                B02765|
|              B02884|2021-06-18 17:59:09|2021-06-18 18:01:50|          76|          76|      N|                B02884|
|              B02875|2021-06-01 20:07:39|2021-06-01 20:21:25|         146|         164|      N|                B02875|
|              B02764|2021-06-15 06:40:30|2021-06-15 06:46:05|         186|         107|      N|                B02764|
|              B02887|2021-06-26 01:17:09|2021-06-26 01:25:32|         243|         127|      N|                B02887|
|              B02510|2021-06-22 16:01:03|2021-06-22 16:24:01|         181|          65|      N|                  null|
|              B02764|2021-06-06 14:40:16|2021-06-06 15:04:58|          69|         265|      N|                B02764|
|              B02510|2021-06-16 17:43:11|2021-06-16 18:01:24|         129|         196|      N|                  null|
|              B02510|2021-06-19 20:15:33|2021-06-19 20:29:51|         248|         167|      N|                  null|
|              B02866|2021-06-11 17:35:49|2021-06-11 17:45:03|         234|         186|      N|                B02866|
|              B02875|2021-06-13 17:52:34|2021-06-13 18:20:18|          20|         116|      N|                B02875|
|              B02872|2021-06-14 14:01:47|2021-06-14 14:31:37|         132|          35|      N|                B02872|
|              B02887|2021-06-20 01:21:33|2021-06-20 01:49:36|         107|         200|      N|                B02887|
|              B02870|2021-06-18 18:46:42|2021-06-18 19:24:14|         161|         256|      N|                B02870|
|              B02510|2021-06-30 07:20:55|2021-06-30 07:37:12|         225|          49|      N|                  null|
|              B02836|2021-06-17 19:58:50|2021-06-17 20:15:30|         234|         262|      N|                B02836|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [6]:
from pyspark.sql import functions as F

In [28]:
df_date = df \
  .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
  .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
  .select('dispatching_base_num', 'pickup_date', 'dropoff_date', 'pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID')

In [29]:
df_date.show()

+--------------------+-----------+------------+-------------------+-------------------+------------+------------+
|dispatching_base_num|pickup_date|dropoff_date|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+--------------------+-----------+------------+-------------------+-------------------+------------+------------+
|              B02875| 2021-06-16|  2021-06-16|2021-06-16 17:30:56|2021-06-16 18:08:31|         141|          68|
|              B02871| 2021-06-25|  2021-06-25|2021-06-25 03:46:52|2021-06-25 04:09:45|          68|          68|
|              B02510| 2021-06-01|  2021-06-01|2021-06-01 08:50:09|2021-06-01 09:17:40|         216|         134|
|              B02884| 2021-06-15|  2021-06-15|2021-06-15 19:05:01|2021-06-15 19:29:42|         163|         114|
|              B02765| 2021-06-17|  2021-06-17|2021-06-17 11:53:53|2021-06-17 12:11:28|          77|         155|
|              B02884| 2021-06-18|  2021-06-18|2021-06-18 17:59:09|2021-06-18 18:01:50|          76|          76|
|              B02875| 2021-06-01|  2021-06-01|2021-06-01 20:07:39|2021-06-01 20:21:25|         146|         164|
|              B02764| 2021-06-15|  2021-06-15|2021-06-15 06:40:30|2021-06-15 06:46:05|         186|         107|
|              B02887| 2021-06-26|  2021-06-26|2021-06-26 01:17:09|2021-06-26 01:25:32|         243|         127|
|              B02510| 2021-06-22|  2021-06-22|2021-06-22 16:01:03|2021-06-22 16:24:01|         181|          65|
|              B02764| 2021-06-06|  2021-06-06|2021-06-06 14:40:16|2021-06-06 15:04:58|          69|         265|
|              B02510| 2021-06-16|  2021-06-16|2021-06-16 17:43:11|2021-06-16 18:01:24|         129|         196|
|              B02510| 2021-06-19|  2021-06-19|2021-06-19 20:15:33|2021-06-19 20:29:51|         248|         167|
|              B02866| 2021-06-11|  2021-06-11|2021-06-11 17:35:49|2021-06-11 17:45:03|         234|         186|
|              B02875| 2021-06-13|  2021-06-13|2021-06-13 17:52:34|2021-06-13 18:20:18|          20|         116|
|              B02872| 2021-06-14|  2021-06-14|2021-06-14 14:01:47|2021-06-14 14:31:37|         132|          35|
|              B02887| 2021-06-20|  2021-06-20|2021-06-20 01:21:33|2021-06-20 01:49:36|         107|         200|
|              B02870| 2021-06-18|  2021-06-18|2021-06-18 18:46:42|2021-06-18 19:24:14|         161|         256|
|              B02510| 2021-06-30|  2021-06-30|2021-06-30 07:20:55|2021-06-30 07:37:12|         225|          49|
|              B02836| 2021-06-17|  2021-06-17|2021-06-17 19:58:50|2021-06-17 20:15:30|         234|         262|
+--------------------+-----------+------------+-------------------+-------------------+------------+------------+
only showing top 20 rows

In [57]:
df_time_diff = df_date \
  .withColumn("DiffInSeconds", (F.unix_timestamp('dropoff_datetime') - F.unix_timestamp('pickup_datetime'))) \
  .withColumn("DiffInHours", ((F.col("DiffInSeconds")/3600)))

In [58]:
df_time_diff.show()

+--------------------+-----------+------------+-------------------+-------------------+------------+------------+-------------+-------------------+
|dispatching_base_num|pickup_date|dropoff_date|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|DiffInSeconds|        DiffInHours|
+--------------------+-----------+------------+-------------------+-------------------+------------+------------+-------------+-------------------+
|              B02875| 2021-06-16|  2021-06-16|2021-06-16 17:30:56|2021-06-16 18:08:31|         141|          68|         2255| 0.6263888888888889|
|              B02871| 2021-06-25|  2021-06-25|2021-06-25 03:46:52|2021-06-25 04:09:45|          68|          68|         1373| 0.3813888888888889|
|              B02510| 2021-06-01|  2021-06-01|2021-06-01 08:50:09|2021-06-01 09:17:40|         216|         134|         1651|0.45861111111111114|
|              B02884| 2021-06-15|  2021-06-15|2021-06-15 19:05:01|2021-06-15 19:29:42|         163|         114|         1481| 0.4113888888888889|
|              B02765| 2021-06-17|  2021-06-17|2021-06-17 11:53:53|2021-06-17 12:11:28|          77|         155|         1055|0.29305555555555557|
|              B02884| 2021-06-18|  2021-06-18|2021-06-18 17:59:09|2021-06-18 18:01:50|          76|          76|          161|0.04472222222222222|
|              B02875| 2021-06-01|  2021-06-01|2021-06-01 20:07:39|2021-06-01 20:21:25|         146|         164|          826|0.22944444444444445|
|              B02764| 2021-06-15|  2021-06-15|2021-06-15 06:40:30|2021-06-15 06:46:05|         186|         107|          335|0.09305555555555556|
|              B02887| 2021-06-26|  2021-06-26|2021-06-26 01:17:09|2021-06-26 01:25:32|         243|         127|          503|0.13972222222222222|
|              B02510| 2021-06-22|  2021-06-22|2021-06-22 16:01:03|2021-06-22 16:24:01|         181|          65|         1378| 0.3827777777777778|
|              B02764| 2021-06-06|  2021-06-06|2021-06-06 14:40:16|2021-06-06 15:04:58|          69|         265|         1482| 0.4116666666666667|
|              B02510| 2021-06-16|  2021-06-16|2021-06-16 17:43:11|2021-06-16 18:01:24|         129|         196|         1093| 0.3036111111111111|
|              B02510| 2021-06-19|  2021-06-19|2021-06-19 20:15:33|2021-06-19 20:29:51|         248|         167|          858|0.23833333333333334|
|              B02866| 2021-06-11|  2021-06-11|2021-06-11 17:35:49|2021-06-11 17:45:03|         234|         186|          554|0.15388888888888888|
|              B02875| 2021-06-13|  2021-06-13|2021-06-13 17:52:34|2021-06-13 18:20:18|          20|         116|         1664| 0.4622222222222222|
|              B02872| 2021-06-14|  2021-06-14|2021-06-14 14:01:47|2021-06-14 14:31:37|         132|          35|         1790|0.49722222222222223|
|              B02887| 2021-06-20|  2021-06-20|2021-06-20 01:21:33|2021-06-20 01:49:36|         107|         200|         1683|             0.4675|
|              B02870| 2021-06-18|  2021-06-18|2021-06-18 18:46:42|2021-06-18 19:24:14|         161|         256|         2252| 0.6255555555555555|
|              B02510| 2021-06-30|  2021-06-30|2021-06-30 07:20:55|2021-06-30 07:37:12|         225|          49|          977| 0.2713888888888889|
|              B02836| 2021-06-17|  2021-06-17|2021-06-17 19:58:50|2021-06-17 20:15:30|         234|         262|         1000| 0.2777777777777778|
+--------------------+-----------+------------+-------------------+-------------------+------------+------------+-------------+-------------------+
only showing top 20 rows

In [59]:
df_max_time = df_time_diff.groupBy("dispatching_base_num", "pickup_date").max("DiffInHours")

In [62]:
df_max_time.sort("max(DiffInHours)", ascending=False).show()

+--------------------+-----------+------------------+
|dispatching_base_num|pickup_date|  max(DiffInHours)|
+--------------------+-----------+------------------+
|              B02872| 2021-06-25|  66.8788888888889|
|              B02765| 2021-06-22|25.549722222222222|
|              B02879| 2021-06-27|19.980833333333333|
|              B02800| 2021-06-26|18.197222222222223|
|              B02682| 2021-06-23|16.466944444444444|
|              B02869| 2021-06-23|14.268888888888888|
|              B02877| 2021-06-24|13.909722222222221|
|              B02765| 2021-06-04|             11.67|
|              B02617| 2021-06-27|11.365833333333333|
|              B02880| 2021-06-20|10.984444444444444|
|              B02866| 2021-06-01|           10.2675|
|              B02882| 2021-06-28| 9.966388888888888|
|              B02510| 2021-06-01| 9.966388888888888|
|              B02510| 2021-06-27| 9.637777777777778|
|              B02510| 2021-06-18| 9.624444444444444|
|              B02510| 2021-06-08| 9.480277777777777|
|              B02800| 2021-06-11| 9.471666666666666|
|              B02510| 2021-06-15| 9.402222222222223|
|              B02510| 2021-06-25| 9.393611111111111|
|              B02764| 2021-06-04| 9.376944444444444|
+--------------------+-----------+------------------+
only showing top 20 rows